# cutains information
measurement_error_pos: 0.1
measurement_error_vel: 1.0
delay: 0.01
use_kalman_filter: true
s_w: 2.0e+2
s_v: 1.0e-6
initial_pos_var: 0.003
initial_vel_var: 0.5

use_combined_model: true

# Names of joints in correct outputted order
joint_names: [
  "rightShoulder", "rightElbow", "rightWrist"
]
joint_v_max: [
  2, 2, 2
]

joint_a_max: [
  50, 50, 50
]

bodies:
  - name: "rightUpperArm" 
    proximal: "rightShoulder"
    distal: "rightElbow"
    thickness: 0.1
    max_contact_energy_unconstrained: 0.75

  - name: "rightLowerArm"
    proximal: "rightElbow"
    distal: "rightWrist"
    thickness: 0.1
    max_contact_energy_unconstrained: 1

  - name: "rightHand"
    proximal: "rightWrist"
    distal: "rightWrist"
    thickness: 0.208
    max_contact_energy_unconstrained: 1

extremities:
  - name: "rightArm"
    base: "rightShoulder"
    end: "rightWrist"
    length: 0.725
    thickness: 0.0
    max_contact_energy_unconstrained: 0.75